@mixin button-main {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: $fs-header-big;
    border-radius: 0.25rem;
    padding: 15px 50px;
    background-color: $primary-base-color;
    display: block;
    width: fit-content;

    &:hover:not(&[disabled]) {
        background-color: $secondary-base-color;
    }

    &[disabled] {
        opacity: .7;
        cursor: not-allowed;
    }
}
