// Colors:
$white: #ffffff;
$grey: #C9C7C7;
$red: #FF0000;
$green: #00FF00;
$primary-base-color: #3B3A8E;
$secondary-base-color: #FB923C;

// Font sizes:
$fs-micro: 10px;
$fs-normal: 12px;
$fs-medium: 14px;
$fs-big: 16px;
$fs-header: 18px;
$fs-header-big: 20px;

// File path:
$icons-path: '/images/icons';
